.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 150px;
  width: auto;
  margin-bottom: 1rem;
  object-fit: contain;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
